*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
   
 }

#all_elements{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    overflow: hidden;
   
}

header{
display: flex;
flex-direction: row;
font-family: 'Staatliches', cursive;
padding: 1.5rem 2rem;
align-items: center;
justify-content: space-between;
position: relative;

}

h1{
    font-size: 2rem;
}

#ham{
    width: 30px;
    cursor: pointer;
}

#bigX{
    width: 30px;
    cursor: pointer;
}

.title_X{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellow{
    color: #ffcd11;
}

main{
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap:15px;
   padding: 2rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.header_words{
    display: none;
}
#dropdown{
    display: none;
    font-family: 'Staatliches', cursive;
    padding: 1.5rem 2rem;
    background-color: grey;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.biggy{
    font-size: 2rem;
    margin-top: 2rem;
}

.biggy a{
    text-decoration: none;

}

.white{
    color: #fff;
}

.drop_links:hover{
    color: #ffcd11;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }


  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@media screen and (min-width:768px) {
    .header_words{
        display: block;
    }
    .ham_holder{
        display: none;
    }



    header{
        display: flex  !important;
    }

    main{
        display: grid  !important;
    }

    #all_elements{
        display: grid !important;
    }
    ul{
        display: flex;
        flex-direction: row;
        width: 120px;
        justify-content: space-between;
    }

    li{
        font-size: 1.4rem;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    li:hover{
        cursor: pointer;
        color: #ffcd11;
    }

    main{
        
       grid-template-columns: 1fr 2fr;
       grid-template-rows: auto;
      
    }
    #dropdown{
        display: none !important;
       
    }
}




@media screen and (min-width:1024px) {
    main{
        
       grid-template-columns: repeat(8,1fr);
       grid-template-rows: repeat(8,8vw);
      
       
    }
   
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      
        
      }
      
      .gallery__item--3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
      
      
      }
      
      .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
      
     
      }
      
      .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
      
       
      }
      
      .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
      }
}