*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#all_elements{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    overflow: hidden;
   
}

header{
display: flex;
flex-direction: row;
font-family: 'Staatliches', cursive;
padding: 1.5rem 2rem;
align-items: center;
justify-content: space-between;
position: relative;

}

h1{
    font-size: 2rem;
}

#ham{
    width: 30px;
    cursor: pointer;
}

#bigX{
    width: 30px;
    cursor: pointer;
}

.title_X{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellow{
    color: #ffcd11;
}

main{
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap:15px;
   padding: 2rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.header_words{
    display: none;
}
#dropdown{
    display: none;
    font-family: 'Staatliches', cursive;
    padding: 1.5rem 2rem;
    background-color: orange;
    width: 100%;
    height: 850px;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .header_words{
        display: block;
    }
    .ham_holder{
        display: none;
    }



    header{
        display: flex  !important;
    }

    main{
        display: grid  !important;
    }

    #all_elements{
        display: grid !important;
    }
    ul{
        display: flex;
        flex-direction: row;
        width: 120px;
        justify-content: space-between;
    }

    li{
        font-size: 1.4rem;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    li:hover{
        cursor: pointer;
        color: #ffcd11;
    }

    main{
        
       grid-template-columns: 1fr 2fr;
       grid-template-rows: auto;
      
    }
    #dropdown{
        display: none !important;
       
    }
}




@media screen and (min-width:1024px) {
    main{
        
       grid-template-columns: repeat(8,1fr);
       grid-template-rows: repeat(8,8vw);
      
       
    }
   
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      
        
      }
      
      .gallery__item--3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
      
      
      }
      
      .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
      
     
      }
      
      .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
      
       
      }
      
      .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
      }
}